:root{ /*CSS Variables*/
    --c1: #0e0b16;
    --c2: #7700ff;
    --c3: #e7dfdd;
    --c4: #a239CA;
}

*{
    background-color: var(--c1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: var(--c3); 
    padding: 5px;
}

a:hover{
    color: var(--c2);
}

a:active{
    color: var(--c2);
}

h1:hover{
    color: var(--c2);
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 16px 32px;
    border-bottom: 3px red;
}

.navBar{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.menuOps{
    color: var(--c2); 
    font-family: 'Courier New', Courier, monospace;
}

.navTitle{
    color: var(--c3);
}

.greeting{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
}

.headshot{
    border-radius: 50%;
    border: 5px solid var(--c3);
}

.title{
    color: var(--c2);
}